<?xml version="1.0"?>
<launch> 
   <!-- values passed by command line input -->
   <arg name="model" value="$(find mark_description)/urdf/mark.urdf.xacro"/>
   <arg name="gui" default="false" />

   <!-- set these parameters on Parameter Server -->
   <param name="robot_description" command="$(find xacro)/xacro $(find mark_description)/urdf/mark.urdf.xacro" />
   <param name="use_gui" value="$(arg gui)" />

   <!-- Start only rviz node -->
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mark_simulation)/config/urdf.rviz" required="true"/> 
</launch>
