<?xml version="1.0"?>
<launch>

<param name="robot_description" command="$(find xacro)/xacro $(find mark_description)/urdf/mark.urdf.xacro"/>
<!--<include file="$(find mark_simulation/launch/world.launch">
  </include>-->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0.5"/>

 
  <node name="robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
      args="-urdf -param robot_description -model robot -x $(arg x) -y $(arg y) -z $(arg z)" />
      
<!-- send fake joint values -->
<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
  <param name="use_gui" value="False"/>
</node>

<!-- Combine joint values -->
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

<!-- Show in Rviz   -->
<node name="rviz" pkg="rviz" type="rviz" args="$(find mark_simulation)/config/defult.rviz"/>

</launch>
