<?xml version="1.0"?>

<robot name="mark" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:property name="pi" value="3.1415926535897931" />

  <!-- Includes -->
    <xacro:include filename="$(find mark_description)/urdf/mark_base.urdf.xacro"/>
    <xacro:include filename="$(find mark_description)/urdf/mark_caster.urdf.xacro"/>
    <xacro:include filename="$(find mark_description)/urdf/mark_wheel.urdf.xacro"/>
    <xacro:include filename="$(find mark_description)/urdf/mark_sonar.urdf.xacro"/>
	<xacro:include filename="$(find mark_description)/urdf/mark_lidar.urdf.xacro"/>
    <xacro:include filename="$(find mark_description)/urdf/mark_kinect.urdf.xacro"/> 
    <xacro:include filename="$(find mark_description)/urdf/mark_imu.urdf.xacro"/> 
	<xacro:include filename="$(find mark_description)/urdf/materials.urdf.xacro"/>
 


    <!-- Differential Drive Plugin -->
	<gazebo>
		<plugin filename="libgazebo_ros_diff_drive.so" name="differential_drive_controller">
			<legacyMode>false</legacyMode>
			<alwaysOn>true</alwaysOn>
			<updateRate>100</updateRate>
			<leftJoint>left_rim_joint</leftJoint>
			<rightJoint>right_rim_joint</rightJoint>
			<wheelSeparation>0.45</wheelSeparation>
			<wheelDiameter>0.12</wheelDiameter>
			<torque>0.5</torque>
			<commandTopic>cmd_vel</commandTopic>
			<odometryTopic>odom</odometryTopic>
			<odometryFrame>odom</odometryFrame>
			<publishWheelTF>true</publishWheelTF>
			<publishWheelJointState>true</publishWheelJointState>
			<robotBaseFrame>base_link</robotBaseFrame>
			<odometrySource>world</odometrySource> 
			<publishTf>1</publishTf>
			<rosDebugLevel>na</rosDebugLevel>
			<publishOdomTF>true</publishOdomTF>
			<wheelAcceleration>0</wheelAcceleration> 
			<wheelTorque>5</wheelTorque>
		</plugin>
	</gazebo>
  	<!-- Base -->
  	<xacro:mark_base prefix="base"/>
					   
  	<!-- Left Wheel -->
  	<xacro:mark_wheel prefix="left" 
						joint_x="-0.099185" 
						joint_y="0.23646" 
						joint_z="-0.059645" 
						joint_roll="0.0" 
						joint_pitch="0.0" 
						joint_yaw="0.0"  
                        r="-1.57075"
						parent_link="base_link" /> 
  
  	<!-- Right Wheel 		-->	
  	<xacro:mark_wheel prefix="right" 
						joint_x="-0.099185" 
						joint_y="-0.23646" 
						joint_z="-0.059645" 
						joint_roll="0.0" 
						joint_pitch="0.0" 
						joint_yaw="0.0"  
                        r="1.57075"
						parent_link="base_link" />

  	<!-- Caster  
  	<xacro:mark_caster prefix="caster"
				
						 x="0.184470" 
						 y="0.0" 
						 z="-0.062928"  
						 parent_link="base_link" /> 
-->



  	<!-- IMU -->
  	<xacro:mark_imu prefix="imu"
					   joint_x="0.0" 
					   joint_y="0.0" 
					   joint_z="0.0" 
					   joint_roll="0" 
					   joint_pitch="0.0" 
					   joint_yaw="0.008" 
					   parent_link="base_link" 
					   topic_name="imu" 
					   frame_name="imu_link" 
					   update_rate="10.0" 
					   service_name="imu_service" 
					   robot_namespace="mark" />

  	<!-- Lidar -->
  	<xacro:mark_lidar prefix="lidar" 

						update_rate="40" 
						samples="720" 
						resolution="1" 
						min_angle="-3.1416" 
						max_angle="3.1416"
						min_range="0.5" 
						max_range="5.0" 
						range_resolution="0.1"
						parent_link="base_link"
						robot_namespace="sensor" 
						topic_name="lidar" 
						frame_name="lidar_link" />

  	<!-- Kinect -->
   	<xacro:mark_kinect prefix="kinect" 
	   					parent_link="base_link"
						joint_x="0.178100" 
						 joint_y="0.004264" 
						 joint_z="0.109455" 
						 joint_roll="0.0" 
						 joint_pitch="0.0" 
						 joint_yaw="0.0"
						 
						 base_line="0.2"
						 update_rate="1.0"
						 camera_name="camera" />

								
 	<!-- Sonar Front-->
	<xacro:mark_sonar 	prefix="sonar_front"
						parent_link="base_link"

					   	joint_x="0.23874" 
					   	joint_y="0.0" 
					   	joint_z="0.036675" 
					   	joint_roll="0.0" 
					   	joint_pitch="0.0" 
					   	joint_yaw="0.0"

						scan_samples="320" 
						scan_resolution="1" 
						min_angle="-0.479965544" 
						max_angle="0.479965544"
						range_resolution="0.01" 
						min_range="0.02" 
						max_range="5.0"
						topic_name="sonar_front" 
						frame_name="sonar_front_link"
						update_rate="4" />

	<!-- Sonar Rear-->
	<xacro:mark_sonar 	prefix="sonar_rear"
						parent_link="base_link"

					   	joint_x="-0.21" 
					   	joint_y="0.0" 
					   	joint_z="0.036675" 
					   	joint_roll="0.0" 
					   	joint_pitch="0.0" 
					   	joint_yaw="3.14159"

						scan_samples="320" 
						scan_resolution="1" 
						min_angle="-0.479965544" 
						max_angle="0.479965544"
						range_resolution="0.01" 
						min_range="0.02" 
						max_range="5.0"
						topic_name="sonar_rear" 
						frame_name="sonar_rear_link"
						update_rate="4" /> 

	<!-- Sonar Front Right-->
	<xacro:mark_sonar 	prefix="sonar_front_right"
						parent_link="base_link"

					   	joint_x="0.081479" 
					   	joint_y="-0.13453" 
					   	joint_z="0.036675" 
					   	joint_roll="0.0" 
					   	joint_pitch="0.0" 
					   	joint_yaw="5.44543"

						scan_samples="320" 
						scan_resolution="1" 
						min_angle="-0.479965544" 
						max_angle="0.479965544"
						range_resolution="0.01" 
						min_range="0.02" 
						max_range="5.0"
						topic_name="sonar_front_right" 
						frame_name="sonar_front_right_link"
						update_rate="4" /> 

	<!-- Sonar Front Left-->
	<xacro:mark_sonar 	prefix="sonar_front_left"
						parent_link="base_link"

					   	joint_x="0.081479" 
					   	joint_y="0.13453" 
					   	joint_z="0.036675" 
					   	joint_roll="0.0" 
					   	joint_pitch="0.0" 
					   	joint_yaw="0.83374"

						scan_samples="320" 
						scan_resolution="1" 
						min_angle="-0.479965544" 
						max_angle="0.479965544"
						range_resolution="0.01" 
						min_range="0.02" 
						max_range="5.0"
						topic_name="sonar_front_left" 
						frame_name="sonar_front_left_link"
						update_rate="4" /> 

	<!-- Sonar Rear Right-->
	<xacro:mark_sonar 	prefix="sonar_rear_right"
						parent_link="base_link"

					   	joint_x="-0.164227" 
					   	joint_y="-0.12321" 
					   	joint_z="0.036675" 
					   	joint_roll="0.0" 
					   	joint_pitch="0.0" 
					   	joint_yaw="4.06985"

						scan_samples="320" 
						scan_resolution="1" 
						min_angle="-0.479965544" 
						max_angle="0.479965544"
						range_resolution="0.01" 
						min_range="0.02" 
						max_range="5.0"
						topic_name="sonar_rear_right" 
						frame_name="sonar_rear_right_link"
						update_rate="4" /> 

	<!-- Sonar Rear Left-->
	<xacro:mark_sonar 	prefix="sonar_rear_left"
						parent_link="base_link"

					   	joint_x="-0.164227" 
					   	joint_y="0.12321" 
					   	joint_z="0.036675" 
					   	joint_roll="0.0" 
					   	joint_pitch="0.0" 
					   	joint_yaw="2.21657"

						scan_samples="320" 
						scan_resolution="1" 
						min_angle="-0.479965544" 
						max_angle="0.479965544"
						range_resolution="0.01" 
						min_range="0.02" 
						max_range="5.0"
						topic_name="sonar_rear_left" 
						frame_name="sonar_rear_left_link"
						update_rate="4" />
	<!-- Sonar Right-->
	<xacro:mark_sonar 	prefix="sonar_right"
						parent_link="base_link"

					   	joint_x="-0.053914" 
					   	joint_y="-0.17139" 
					   	joint_z="0.036675" 
					   	joint_roll="0.0" 
					   	joint_pitch="0.0" 
					   	joint_yaw="4.71239"

						scan_samples="320" 
						scan_resolution="1" 
						min_angle="-0.479965544" 
						max_angle="0.479965544"
						range_resolution="0.01" 
						min_range="0.02" 
						max_range="5.0"
						topic_name="sonar_right" 
						frame_name="sonar_right_link"
						update_rate="4" /> 

	<!-- Sonar Left-->
	<xacro:mark_sonar 	prefix="sonar_left"
						parent_link="base_link"

					   	joint_x="-0.053914" 
					   	joint_y="0.17139" 
					   	joint_z="0.036675" 
					   	joint_roll="0.0" 
					   	joint_pitch="0.0" 
					   	joint_yaw="1.50780"

						scan_samples="320" 
						scan_resolution="1" 
						min_angle="-0.479965544" 
						max_angle="0.479965544"
						range_resolution="0.01" 
						min_range="0.02" 
						max_range="5.0"
						topic_name="sonar_left" 
						frame_name="sonar_left_link"
						update_rate="4" /> 

 

</robot>